#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.

VERSION := $(shell grep '<version>' pom.xml | head -2 | tail -1 | cut -d'>' -f2 |cut -d'<' -f1)
PACKAGE = $(shell dh_listpackages|head -n 1|cut -d '-' -f 1)
SYSCONFDIR = "/etc"

PYVERS := $(shell py3versions -vr)
DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^+]+).*,\1,p')
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_CHANGELOG_DATETIME = $(shell dpkg-parsechangelog --show-field Date)

export DH_VERBOSE = 1

PREDESTDIR = "$(CURDIR)/zookeeper-assembly/target/"
DESTDIR = "$(PREDESTDIR)/apache-$(PACKAGE)-$(VERSION)-bin/"

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@ --with javahelper,maven_repo_helper --with python3

override_dh_auto_configure:
	cp debian/replace.properties replace.properties.tmp
	echo VERSION=${VERSION} >> replace.properties.tmp

override_dh_auto_build:
	mvn clean package \
	    -Dcs.replace.properties=replace.properties.tmp \
	    -Dmaven.repo.local=$(HOME)/.m2/repository -DskipTests=true \
	     ${ACS_BUILD_OPTS}
	tar -xf "$(PREDESTDIR)/apache-$(PACKAGE)-$(VERSION)-bin.tar.gz" --one-top-level=$(PREDESTDIR)
override_dh_auto_test:

override_dh_auto_clean:
	dh_auto_clean
	rm -f replace.properties.tmp
	rm -rf $(CURDIR)/debian/zookeeper
#override_dh_install:
#	mh_installpom -pzookeeper pom.xml
override_dh_install:
	mh_installpoms -plibzookeeper-java
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-server/pom.xml $(PREDESTDIR)/apache-$(PACKAGE)-$(VERSION)-bin/lib/zookeeper-$(VERSION).jar usr/share/java/zookeeper-$(VERSION).jar usr/share/java/zookeeper.jar
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-jute/pom.xml $(PREDESTDIR)/apache-$(PACKAGE)-$(VERSION)-bin/lib/zookeeper-jute-$(VERSION).jar
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-metrics-providers/zookeeper-prometheus-metrics/pom.xml $(PREDESTDIR)/apache-$(PACKAGE)-$(VERSION)-bin/lib/zookeeper-prometheus-metrics-$(VERSION).jar
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-recipes/zookeeper-recipes-election/pom.xml zookeeper-recipes/zookeeper-recipes-election/target/zookeeper-recipes-election-$(VERSION).jar
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-recipes/zookeeper-recipes-lock/pom.xml zookeeper-recipes/zookeeper-recipes-lock/target/zookeeper-recipes-lock-$(VERSION).jar
	mh_installjar -plibzookeeper-java --java-lib --has-package-version zookeeper-recipes/zookeeper-recipes-queue/pom.xml zookeeper-recipes/zookeeper-recipes-queue/target/zookeeper-recipes-queue-$(VERSION).jar
	dh_install
override_dh_auto_install:
	# Common packages
	mkdir -p $(DESTDIR)/$(SYSCONFDIR)/$(PACKAGE)
	mkdir -p $(DESTDIR)/$(SYSCONFDIR)/default
	mkdir -p $(DESTDIR)/var/cache/$(PACKAGE)
	mkdir -p $(DESTDIR)/var/log/$(PACKAGE)
	mkdir -p $(DESTDIR)/var/lib/$(PACKAGE)
	mkdir -p $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/share

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-stop-on-upgrade --no-start --name=zookeeper
